@model Demo_WebApp.API.DataModel.Frutas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Frutas</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.precioKg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precioKg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imgUri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imgUri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stockKg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stockKg)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
